@page "/settings/secrets/{clientId}/delete"
@model GhostNetwork.Account.Web.Pages.Settings.Secrets.Delete

<p>Are you sure you want to delete @Model.Secret.Description secret?</p>

<form method="post">
    @Html.AntiForgeryToken()
    <label>&nbsp;</label>
    <input type="submit" value="Submit" class="submit"/>
</form>
