@page "/settings/secrets"
@model GhostNetwork.Account.Web.Pages.Settings.Secrets.Index

<div>
    <p>Secrets for password based OAuth flow</p>
    
    <a href="/settings/secrets/create">Add new</a>

    <ul>
        @foreach (var secret in Model.PasswordSecrets)
        {
            <li>
                @secret.Description. Id: @secret.Id. Expiration:
                @if (secret.Expiration <= DateTime.UtcNow)
                {
                    <span style="color: red">@secret.Expiration</span>   
                }
                else
                {
                    <span>@secret.Expiration</span>
                }
                | <a href="/settings/secrets/@secret.Id/delete">Delete</a>
            </li>
        }
    </ul>
</div>
